.reaction-container{
    display: flex;
    flex-direction: column; /* 요소들을 세로로 배치 */
    align-items: center; /* 가운데 정렬 */
    justify-content: center; /* 위에서부터 요소 배치 */
    padding: 20px;
    /* background-color: #aeb2e9; */
    position: relative;
    margin-top: 11%;
    overflow-y: hidden;
}

button:focus{
    outline: none;
}

.ranking-container{
    position: absolute;
    top: 20px;
    right: 20px;
    opacity: 0.8;
    padding: 23px;
    padding-top: 0%;
    border-radius: 15px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
    text-align: left;
    background-color: #e2e4f9;
    max-height: 350px;
    overflow-y: auto;
}

.rank-info{
    margin-top: 20px;
    font-size: 1.18rem;
    font-weight: 700;
}

.early-click{
    font-size: 1.1rem;
    color: red;
}

.ranking-title{
    font-size: 18px;
}

.ranking-title{
    text-align: center;
}

.ranking-item{
    margin-bottom: 5px;
    font-size: 13px;
}

.start-button{
    font-size: 2rem;
    transition: padding 0.3s ease;
    padding: 30px 60px;
    background-color: #1ed91b;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 20px;
    font-size: 25px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.start-button.active.waiting{
    background-color: rgb(53, 192, 230);
    transition: padding 0.3s ease;
    padding: 120px 240px;
}

.start-button.active.ready{
    background-color: rgba(255, 0, 0, 0.921);
    transition: padding 0.3s ease;
    padding: 120px 240px;
}

.message{
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 10px;

}

.attempts{
    margin-top: 20px;
    font-size: 1.1rem;
}

.back-button{
    margin-top: 30px;
    padding: 20px 40px;
    font-size: 1.1rem;
    background-color: #e9f4fd;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.4s ease;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.back-button:hover{
    background-color: #c2beff;
}

.progress-bar-container{
    width: 35%;
    height: 20px;
    background: linear-gradient(2deg, #2375e0, #a0c4e6);
    border-radius: 10px;
    margin-top: 20px;
    overflow: hidden;
}

.progress-bar{
    height: 100%;
    background: linear-gradient(2deg,#96c3d9, #81cff6);
    border-radius: 10px;
    transition: width 0.3s ease-in-out;
}